/*

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

*/

    .avatar-image-profile {
      border-radius: 50%;
      height: 100px;
      float: right;
    }

    .avatar-image-connections {
      border-radius: 50%;
      height: 50px;
      float: left;
    }

    .avatar-name {
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      font-size: 30px;
    }

    .clearfix {
      clear: both;
    }

