/*

Write your custom styles and overrides of Bootstrap in this file.

For example, if you wanted to change the body font:

body {
  font-family: "Vollkorn";
}

*/

    .avatar-image {
      border-radius: 50%;
      height: 75px;
      float: right;
    }

    .avatar-name {
      float: right;
      margin-top: 25px;
      margin-right: 20px;
    }

    .clearfix {
      clear: both;
    }

